.navbar-section {
    height: 86px;
}

.navbar-wrapper {
    display: flex;
    margin: 0 100px 0 100px;
}

.logo-container {
    display: flex;
    margin-top: 18px;
}

.vnwork-logo {
    margin: 5px 0 0 0;
}

.vietnamwork {
    height: 40px;
    width: 125px;
}

.elca-logo {
    margin: 10px 30px 0 0;
}

.elca {
    height: 19px;
    width: 245px;
}

.navbar-item-container {
    margin: 0 0 0 100px;
}

.navbar-item-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

}

.navbar-item-container li {
    float: left;
}

.navbar-item-container li a {
    display: block;
    padding: 20px;
    margin: 15px 0 0 0;
}

.navbar-item-container a:hover {
    cursor: pointer;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.paragraph {
    margin: 15px 0 0 0;
}

.paragraph2 {
    display: flex;
}